body {
  margin: 0;
  height: 100vh;
  background: #489AD8;
  color: #FFF;
}

#container {
  height: 100%;
}

#container h1 {
  margin: 0 0 5px 0;
  line-height: 1.4;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
}
@media (min-width: 540px){
  #container h1 {
    font-size: 2rem;
  }
}

#container p,
#container p > a {
  margin: 0 0 10px 0;
  line-height: 1.4;
  font-family: 'Open Sans', serif;
  font-size: 0.8rem;
  color: #FFF;
}

#container #demos {
  height: 100%;
  position: relative;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

svg circle,
svg rect {
  fill: none;
  fill-opacity: 0.5;
  stroke: #FFF;
  stroke-width: 2px;
  stroke-opacity: 0.6;

  stroke-opacity: 1;
}

svg circle.dot {
  fill: #FFF;
  fill-opacity: 0.5;
  stroke: none;

  fill-opacity: 1;
}

svg .joint .anchor {
  fill: #FFF;
  stroke: none;

  fill-opacity: 1;
}

svg text.label {
  font-family: 'Roboto Slab', serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  fill-opacity: 0.5;
  fill: #FFF;

  fill-opacity: 1;
}

svg .shape text.label {
  /*fill: #FFF;*/
}

svg .joint text.label {
  /*fill: #096DBA;*/
}

svg .shape.invisible * {
  fill-opacity: 0;
  stroke-opacity: 0;
}

#container #demos .overlay {
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: center;
}

#container .disabled {
  opacity: 0.5;
  pointer-events: none;
}

#container .hidden {
  display: none!important
}
